/*TODO STYLING
- set a max width of the containers for the dislpays (set with media query)
- try a different ype of nav bar (side panel, with more modern style)
- make tab shape look better (especially when there is wrapping)
- decide which coloring, make the text on the tabs stnad out more

-Tried clicking in the pw display first use (test sub btn stand out more)
-When pasting, and strong pw, no feedback, not sure what strength meter is yet


TODO Copy paste: 
TODO: have svg in file and directly inline (currently only using inline html)
@todo feedback when pw copied and pasted

@todo: when pasting sometimes requires selecting 'paste' from dropdown (I think when coming from diff browser)
*/

/*
TODO Pw Strength feedback
/*check that strength meter height is var in all the right places, 
I don't think I actually need it for the score. TODO:
- position the score and the marking bar
- add more padding to top of strength bar so room for score
- cahnge the score content in js
- display the score only on hover
*/

*::before,
*::after,
* {
    box-sizing: border-box;
    --strength-meter-radius: 1rem;
}

:root {
    --page-color: #859aad;
    --background-color: #b6c3ce;
    --accent-color: #076974;
    --body-text-color: #0b0033;
    --nav-background: var(--body-text-color);
    --pw-text-color: #f0f0f0;
    --popup-color: darkgrey;
    --pw-text-filter: invert(99%) sepia(4%) saturate(232%) hue-rotate(240deg)
        brightness(114%) contrast(88%);
    --nav-text-color: var(--pw-text-color);
    --tab-radius: 100vh 100vh 0 0;

    --icon-height: 3.5rem;

    /*try swapping page color and nav bar bg color*/
    /* --page-color: #0b0033; */
    /* --nav-background: #859aad; */
}

body {
    background-color: var(--page-color);
    color: var(--body-text-color);

    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 3rem;
    align-items: start;

    height: 100vh;
    overflow: hidden;
    margin: 0;
    margin-bottom: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-align: center;
}

.layout {
    background-color: var(--nav-background);
    width: 100%;
    font-size: large;
}

.nav-list {
    /* background-color: pink; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    justify-content: space-evenly;
    align-items: flex-end; */

    gap: 2rem;
    margin: 1rem 2rem;
    margin-bottom: 0;
    padding: 0;

    /* align-items: center; */
    list-style: none;
}

.nav-list a {
    color: var(--nav-text-color);
    /* background-color: purple; */
    text-decoration: none;
    display: block;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: var(--tab-radius);
}

.nav-list li.active > a {
    color: var(--body-text-color);
}

.nav-list li {
    text-align: center;
    height: 100%;
    min-width: 20vw;

    border-radius: var(--tab-radius);

    /*grid to center text vertically*/ /*Not needed if using flex box????*/
    display: grid;
    align-items: center;

    /* background-color: blue; */
}

.nav-list li.active {
    background-color: var(--page-color);
    position: relative;
}

.hidden {
    visibility: hidden;
}

.popup {
    border-radius: inherit;
    font-size: medium;
    font-weight: 400;
    background-color: var(--popup-color);
    color: black;

    width: 4rem;
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: -0.25rem;
    top: -1.3rem;
    z-index: 1;
}

/*popup arrow*/
.popup::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -6px;
    border-width: 6px; /*size of arrow point*/
    border-style: solid;
    border-color: var(--popup-color) transparent transparent transparent;
}

/*Password Generator Specific Styles*/
.container.password-generator {
    background-color: var(--background-color);
    padding: 3rem;
    margin: 0 3rem;
    border: #5e6472;
    border-radius: 10px;
    border: 3px solid var(--body-text-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: start;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 1.5rem;
    column-gap: 3rem;

    align-items: center;
    justify-content: center;

    accent-color: var(--accent-color);
}

.char-amount-container {
    display: flex;
    align-items: center;
    width: 20%;
}

.symbol-check-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    width: 20%;
}

.single-symbol-check-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.single-symbol-check-container * {
    padding: 0rem, 0.25rem;
    font-size: large;
}

#charAmountNum {
    width: 3rem;
}

.title {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: 0;
}

label {
    font-weight: 600;
    font-size: large;
}

.pw-display-container {
    background-color: var(--accent-color);
    color: var(--pw-text-color);
    padding: 1rem;
    width: 100%;
    min-height: 100%;
    border-radius: 5px;
    border: 1px solid var(--body-text-color);
    text-align: center;
    font-weight: 600;

    position: relative;
}

.pw-display {
    display: block;
}

.icon {
    position: absolute;
    right: 0rem;
    top: 0rem;

    height: var(--icon-height);
    padding: 1rem;
}

.icon:hover {
    height: calc(var(--icon-height) * 1.05);
    cursor: pointer;
}

.copy-icon {
    color: var(--pw-text-color);
}

.copy-icon:hover {
    color: color-mix(in srgb, var(--pw-text-color), black 20%);
}

.submit-btn {
    cursor: pointer;
    grid-column: 1 / -1;
    width: 80%;
    justify-self: center;

    margin: 1rem 0 0 0;
    padding: 1rem;
    color: var(--body-text-color);
    font-size: large;

    background-color: transparent;
    border: 2px solid var(--body-text-color);
    border-radius: 35px;
}

.submit-btn:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    border-color: color-mix(in srgb, var(--body-text-color), transparent 50%);
}

input[type="checkbox"] {
    height: 1.25rem;
}

/*Password Tester Specific Styles*/
.container.password-tester {
    text-align: center;
    background-color: var(--background-color);
    border: 3px solid var(--body-text-color);
    border-radius: 10px;
    padding: 3rem;
    margin: 0 3rem;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.strength-meter {
    --strength-meter-height: calc(var(--strength-meter-radius) * 1.5);
    height: var(--strength-meter-height);
    width: 100%;
    border: 3px solid color-mix(in srgb, var(--accent-color) 80%, black);
    border-radius: var(--strength-meter-radius);
    margin: 0 auto;
    position: relative;
}

.strength-meter::before {
    content: " ";
    position: absolute;
    left: 0;
    border-top-left-radius: var(--strength-meter-radius);
    border-bottom-left-radius: var(--strength-meter-radius);
    background-color: var(--accent-color);
    background-color: red;
    height: 100%;

    width: calc(1% * var(--strength, 0));
    transition: width 200ms;
}

.strength-score {
    border: 1px solid black;
    --score-width: 5rem;
    width: var(--score-width);
    position: absolute;
    left: calc((1% * var(--strength, 0)) - (var(--score-width)) / 2);
    top: -10px;

    /* padding: 0; */
    /* margin: 0; */
}

.strength-score::after {
    content: " ";
    border: 2px pink solid;

    height: var(--strength-meter-height);
    width: 2px;

    position: absolute;
    left: 50%;
    bottom: 0%;
    overflow: visible;
    /* top: 100%;  */
    /* At the bottom of the tooltip */
    /* left: 50%; */
    /* margin-left: -6px; */
    /* border-width: 6px; size of arrow point */
}

.password-input {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    padding: 1rem;

    background-color: transparent;

    background-color: color-mix(in srgb, var(--accent-color) 10%, transparent);
    border: 2px solid var(--body-text-color);
    color: var(--body-text-color);

    text-align: center;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 1px;

    display: block;
}

.password-input:focus,
.password-input:hover {
    outline: none;
    border-color: color-mix(in srgb, var(--body-text-color), transparent 50%);
}

.password-input-container {
    border-radius: 0.5rem;
    position: relative;
}

.paste-icon {
    color: var(--body-text-color);
}

.paste-icon:hover {
    color: color-mix(in srgb, var(--body-text-color), transparent 30%);
}

.recs > * {
    margin: 0.5rem;
    color: color-mix(in srgb, var(--body-text-color), transparent 30%);
}
